.dashboard {
}
.dashboard > h2 > img {
  padding-right: 1.5 em;
  padding-bottom: 1.5 em;
}
.dashboard-content {
  /* background-color: rgb(238, 238, 238); */
  background-color: rgb(245, 245, 245);
  width: 100%;
  display: flex;
  align-content: flex-start;
}
.dashboard-content > div {
  margin: 0;
}
.dashboard-content > .left {
  width: 30%;
  margin: auto;
  margin-top: 0;
  margin-right: 0;
}
.dashboard-content > .right {
  width: 30%;
  width: 70%;
}
.buttondivider {
  width: 10px;
}
.btnlabel {
  color: #000;
  vertical-align: text-bottom;
}
/* .arrowIcon {
  vertical-align: text-bottom;
} */
.topcontrol {
  /* background-color: rgb(238, 238, 238); */
  background-color: rgb(245, 245, 245);
}
.spazio {
  display: inline-block;
  width: 10px;
}
.spazios {
  display: block;
  height: 5px;
}
.servTitle {
  text-transform: uppercase !important;
  margin-top: 2px !important;
  margin-left: 2px !important;
}
.spazioH {
  display: inline-block;
  height: 10px;
}
.removeIcon {
  margin-top: 2px !important;
  margin-right: 2px !important;
}
.ui.menu {
  margin-bottom: 0 !important;
}
.topcontrol {
  padding: 0.5rem 0;
}
.logsViewer {
  height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
  padding-bottom: 1rem;
  background-color: #070707;
  color: #fff;
}
.logsViewer > ul {
  list-style: none;
  margin-top: 5px;
}
.logsViewerD {
  height: 68vh;
  max-height: 68vh;
  overflow-y: hidden;
  padding-bottom: 1rem !important;
}
.spaceunder {
  /* display: inline;
  height: 10px; */
  height: 1vh;
  position: absolute;
  padding: 2rem;
}
.hide {
  display: none;
}
.statlink {
  color: #fff;
}
.statlink:hover {
  color: #fff;
}
.servName {
  /* color: "#6435c9" !important; */
  text-transform: capitalize;
}
.servGrTitle {
  text-transform: uppercase !important;
}
